<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="mTxaRfgmP-i4y5dXgPPF54T0XVT_CGUh81tQoT1BSFU" />

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="{{ "/" | absolute_url }}">
            <img src="{{site.logo | relative_url}}"
              alt="{{ site.title | default: site.github.repository_name }}" />
          </a>
        </h1>
        <br>
        <nav>
          <ul>
            <li>
              <a href="/services">Services</a>
            </li>
            <li>
            <br>
              <a href="/sectors">Sectors</a>
            </li>
            <li>
            <br>
              <a href="/people">Knowledge</a>
            </li>
            <li>
            <br>
              <a href="/blog">News</a>
            </li>
            <br>
            <li>
              <a href="/about">About us</a>
            </li>
          </ul>
        </nav>


        <!--<p>{{ site.description | default: site.github.project_tagline }}</p>-->
      </header>
      <article>

      {{ content }}

      </article>
      <footer>
        <p>Contact:<br><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p>&copy; 2023 Oxford Infrastructure Analytics</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
